<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <tbody>
    <tr th:each="user: ${users}">

        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{user-update/{id}(id=${user.id})}">Update </a></td>
        <td><a th:href="@{user-delete/{id}(id=${user.id})}"> Delete</a></td>
    </tr>
    </tbody>
    <p><a href="/user-create">Create </a> </p>
</table>
</body>
</html>